body
{
    margin: 0;
    padding: 0;
    animation: bgcolor infinite 20s;
}

.btn btn-lg btn-success{
    color: linear-gradient(navajowhite,darkorchid);
}


body {
    background-color: linear-gradient(navajowhite,darkorchid);
}